body {
  background: pink;
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: green;
  right: 0%;
  left: 0%;
  bottom: 0%;
}
.caixa2 {
  position: 400px;
  width: 200px;
  height: 200px;
  background: yellow;
  right: 0%;
  left: 0%;
  bottom: 0%;
}